.container {
  background-color: #fff;
  border-radius: 9px;
  grid-template:
    'head head' 10rem
    'list recipe' minmax(100rem, auto)
    / 1fr 2fr;
  max-width: 120rem;
  min-height: 117rem;
  margin: 2vw auto;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
}

@media only screen and (width <= 78.15em) {
  .container {
    border-radius: 0;
    max-width: 100%;
    margin: 0;
  }
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  fill: currentColor;
  width: 2.25rem;
  height: 2.25rem;
}

.heading--2 {
  color: #f38e82;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.link:link,
.link:visited {
  color: #918581;
}

.header {
  background-color: #f9f5f3;
  grid-area: head;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo {
  height: 4.6rem;
  margin-left: 4rem;
  display: block;
}

.recipe {
  background-color: #f9f5f3;
}

.search-results {
  flex-direction: column;
  display: flex;
}
